<!--
Popup Component for SnackBag Learn

---

Usage:D
<popup id="your-popup-id" title="popup.exampleTitle" x_method="hidePopup('your-popup-id')">
    <p>Hello world!</p>
</popup>

---

2024 - JX_Snack
jx.snack@gmail.com
-->


<!---- TRANSFORM ---->
<div class="popup //class\\" id="//id\\" style="display: none //style\\">
    <div class="popup-content" id="popup-content">
        <div style="display: flex">
            <h1 id="popup-title" style="margin-right: auto">//title\\</h1>
            <i onclick="//x_method\\" id="popup-x" class="fa-solid fa-x popup-x"></i>
        </div>

        <div>
            //inner\\
        </div>
    </div>
</div>
<!---- TRANSFORM ---->