{% extends 'base.html' %}
{% block head %}
<script src="https://kit.fontawesome.com/821f3e149e.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<div class="panel-wrapper">
    <div class="panel-nav">
        <a class="no-style" href="{{ url_for('index') }}">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/oculi/default.svg') }}"></img>
                <p>LEARN</p>
            </div>
        </a>

        <div class="panel-nav-parts">
            <a href="{{ url_for('panel') }}"><p id="nav-sidebar-home-button"><i class="fa-solid fa-house"></i> {{ i18n('button.home') }}</p></a>
            <p><i class="fa-solid fa-book"></i> {{ i18n('button.learn') }}</p>
            <p><i class="fa-solid fa-earth-americas"></i> {{ i18n('button.subjects') }}</p>
            <p><i class="fa-solid fa-medal"></i> {{ i18n('button.leaderboard') }}</p>
        </div>

        <div class="big-funny-blue-buttons">
            <a class="no-style" href="{{ url_for('account') }}"><i class="fa-solid fa-user"></i></a>
            <i class="fa-solid fa-bell"></i>

            <div style="margin-left: auto">
                <a class="no-style" href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"
                                                                      style="rotate: 180deg"></i></a>
            </div>
        </div>
    </div>
    <div class="panel-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script type="text/javascript">
    const homeNavButton = document.getElementById("nav-sidebar-home-button");

    if (window.location.pathname === "{{ url_for('panel') }}") {
        homeNavButton.classList.add("active");
    }
</script>
{% block after_content %}
{% endblock %}
{% endblock %}