{% extends 'panel/base.html' %}
{% block title %}{{ i18n('title.subjects') }}{% endblock %}
{% block content %}
    <h1></h1>

    <div class="subject-list">
        {% for subject in subjects %}
            <div {% if subject.id == current_subject %}class="active"{% endif %} onclick="switchSubject({{ subject.id }})">
                <img src="{{ url_for('serverside_subject_icon', subject_id=subject.id) }}" alt="icon">
                {{ i18n("subject." + subject.name) }}
            </div>
        {% endfor %}
    </div>

    {% if subjects|length < current_subject %}
        <h1>Invalid subject</h1>
    {% else %}
        {% set subject = subjects[current_subject - 1] %}
        <h1>{{ i18n("subject." + subject.name) }}</h1>
    {% endif %}

    <script type="text/javascript">
        function switchSubject(subjectId) {
            window.location.replace(`/subjects/${subjectId}`)
        }
    </script>
{% endblock %}