button {
    --border-color: var(--button-bottom-border);

    font-family: Inter, sans-serif;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: #343339;
    border-radius: 30px;

    border: none;

    transition: 0.1s;
}

button:enabled {
    cursor: pointer;
    border-bottom: 4px solid var(--border-color);
}

button:hover:enabled {
    border-bottom: 8px solid var(--border-color);
    transform: translateY(-3px);
}

button:active:enabled {
    border-bottom: 4px solid var(--border-color);
    transform: translateY(2px);
}

button[disabled] {
    background-color: #aaafba;
    color: #fcfbfc;
    font-weight: normal;
}

button.green:enabled {
    --border-color: #319a5f;

    background-color: #29b967;
    color: white;
}
