* {
    --button-bottom-border: #d6d3d9;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    width: 99vw;
    color: #323036;
    background-color: #f6f6f6;
}

.content {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}

.hero {
    padding: 100px 0;
    background-color: #4453da;
    color: #fafaff;
    width: 100%;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    font-weight: bold;
    color: #d2dbea;
    max-width: 500px;
}

.nav {
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #4453da;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 103px;
}

.panel-nav {
    position: fixed;
    color: white;
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #4453da;
    height: 100vh;
    padding: 0 20px;
}

.panel-nav-parts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.panel-nav-parts p {
    display: flex;
    gap: 10px;
    align-items: center;
    width: calc(100% - 20px);
    cursor: pointer;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 0;
    font-size: 17px;

    transition: 0.05s;
}

.panel-nav-parts p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-nav-parts p.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.panel-nav-parts a {
    color: inherit;
    text-decoration: none;
}

.panel-nav-parts a:visited {
    color: inherit;
}

.panel-nav-parts p i {
    font-size: 22px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.logo img {
    height: 64px;
    border-radius: 15px;
}

.logo p {
    font-size: 32px;
    font-weight: bold;
}

.logo.white p {
    color: white;
}

.nav > div {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav > div:nth-child(2) {
    margin-left: auto;
}

.nav-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-items p {
    line-height: 12px;
}

.nav-items a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    padding: 0 10px;
    border-radius: 15px;
    transition: 0.1s;
}

.nav-items a:visited {
    color: inherit;
}

.nav-items a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.big-text {
    font-size: 70px;
}

.login-select {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.login-select .card {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 4px solid var(--button-bottom-border);
}

.login-select .card img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
}

.login-select .card:hover {
    transform: translateY(-8px);
}

.login-select .card:active {
    transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email] {
    padding: 15px 10px;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
    outline: 0;
    border-bottom: 2px solid white;
    font-size: 15px;
    font-family: Inter, sans-serif;

    transition: 0.1s;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom: 2px solid #e3e3e3;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form div button {
    margin-left: auto;
    max-width: 200px;
    width: 100%;
}

form {
    margin-right: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flashes {
    background-color: #fc7b7b;
    border-bottom: 4px solid #fd4848;
    color: white;
    padding: 15px 30px;
    list-style: none;
    border-radius: 15px;
}

a {
    color: #3d4ac9;
}

a:visited {
    color: #3d4ac9;
}

a.no-style {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit;
}

.unsaved-changes {
    position: fixed;
    display: flex;
    width: calc(100vw - 160px);
    margin: 0 80px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;

    bottom: 20px;
    animation-name: unsaved-changes;
    animation-duration: 0.2s;
}

.unsaved-changes p {
    margin-right: auto;
}

@keyframes unsaved-changes {
    from {
        opacity: 0;
        transform: translateY(22px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.hidden {
    display: none;
}

table {
    border: 1px solid black;
}

tr:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr {
    background-color: rgba(0, 0, 0, 0.1);
}

.subject-list {
    display: flex;
    gap: 10px;
}

.subject-list div {
    display: flex;
    background-color: white;
    border-bottom: 2px solid lightgray;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.subject-list div:hover {
    background-color: white;
    border-bottom: 2px solid lightgray;
    padding: 15px 30px;
    border-radius: 20px;
    filter: brightness(0.98);
}

.subject-list div:active {
    filter: brightness(0.95);
    transform: scale(0.95);
}

.subject-list div.active {
    border-bottom: 4px solid lightgray;
}

.subject-list div img {
    width: 20px;
    height: 20px;
    object-fit: fill;
    border-radius: 50px;
    transform: scale(1.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup {
    display: flex;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    animation-name: popup-fade-in;
    animation-duration: 0.2s;
    overflow: hidden;
}

@keyframes popup-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-content {
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.popup-x {
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
}

#popup-title {
    margin: 0;
    padding: 0;
}

.popup-x:hover {
    color: #6e6e73;
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0 30px;
    }

    .popup-content {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .popup-content {
        width: 350px;
    }
}