* {
    --button-bottom-border: #d6d3d9;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Inter, sans-serif;
    width: 100vw;
    min-height: 100vh;
    color: #323036;
    background-color: #f6f6f6;
}

.content {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 960px;
    width: 90%;
}

.nav {
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #4453da;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 103px;
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav .logo img {
    height: 64px;
    border-radius: 15px;
}

.nav .logo p {
    font-size: 32px;
    font-weight: bold;
}

.nav > div {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav > div:nth-child(2) {
    margin-left: auto;
}

.nav-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-items p {
    line-height: 12px;
}

.nav-items a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    padding: 0 10px;
    border-radius: 15px;
    transition: 0.1s;
}

.nav-items a:visited {
    color: inherit;
}

.nav-items a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.big-text {
    font-size: 70px;
}

.login-select {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.login-select .card {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 4px solid var(--button-bottom-border);
}

.login-select .card img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
}

.login-select .card:hover {
    transform: translateY(-8px);
}

.login-select .card:active {
    transform: scale(0.95);
}

input[type=text], input[type=password], input[type=email] {
    padding: 15px 10px;
    border: 0;
    border-radius: 15px;
    font-weight: 500;
    outline: 0;
    border-bottom: 2px solid white;
    font-size: 15px;

    transition: 0.1s;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom: 2px solid #e3e3e3;
}

form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form div button {
    margin-left: auto;
    max-width: 200px;
    width: 100%;
}

form {
    margin-right: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flashes {
    background-color: #fc7b7b;
    border-bottom: 4px solid #fd4848;
    color: white;
    padding: 15px 30px;
    list-style: none;
    border-radius: 15px;
}

a {
    color: #3d4ac9;
}

a:visited {
    color: #3d4ac9;
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0 30px;
    }
}