html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    width: 100vw;
    min-height: 100vh;
    color: white;
}

.content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    width: 90%;
}

.nav {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #4453da;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav .logo img {
    height: 64px;
    border-radius: 15px;
}

.nav .logo p {
    font-size: 32px;
    font-weight: bold;
}

.nav > div {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav > div:nth-child(2) {
    margin-left: auto;
}

.nav-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0 30px;
    }
}