<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} | Learn</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">

    {% block head %}
    {% endblock %}
</head>
<body style="overflow-x: hidden">

<div class="popup" id="popup" style="display: none">
    <div class="popup-content" id="popup-content">
        <div style="display: flex">
            <h1 id="popup-title" style="margin-right: auto"></h1>
            <i id="popup-x" class="fa-solid fa-x popup-x"></i>
        </div>
    </div>
</div>

{% block before_body %}
{% endblock %}

{% block body %}
{% endblock %}

<script type="text/javascript">
    function showPopup(id, title) {
        const popup = document.getElementById(id);
        const popupX = document.getElementById("popup-x");
        popupX.addEventListener("click", function () {
            hidePopup(id);
        });
        const titleElem = document.getElementById("popup-title");
        titleElem.innerText = title
        popup.classList.add("popup");
        popup.style.removeProperty("display");
        disableScroll();
    }

    function hidePopup(id) {
        const popup = document.getElementById(id);
        popup.style.display = "none";
        popup.classList.remove("popup");
        enableScroll();
    }

    function disableScroll() {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        const scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;

        window.onscroll = function () {
            window.scrollTo(scrollLeft, scrollTop);
        };
    }

    function enableScroll() {
        window.onscroll = function () {
        };
    }
</script>
</body>
</html>