{% extends 'base.html' %}
{% block body %}
    <div class="nav">
        <div>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/oculi/default.svg') }}"></img>
                <p>LEARN</p>
            </div>
            <div class="nav-items">
                <a href="/"><p>{{ i18n('nav.subjects') }}</p></a>
                <a><p>{{ i18n('nav.about') }}</p></a>
            </div>
        </div>
        <div>
            <a href="{{ url_for('login') }}">
                <button>{{ i18n('button.login') }}</button>
            </a>
        </div>
    </div>
    <div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}